* {
  box-sizing: border-box;
}
img {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  text-align: center;
}

.search-field {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: tomato; */
  /* width: 500px; */
  /* height: auto; */
}
.submit-btn {
  width: 30px;
  height: 30px;
  background-color: white;
  border-color: transparent;

  /* height: 100%; */
}
.input-field {
  height: 30px;
}

.gallery {
  display: flex;

  flex-wrap: wrap;
  /* &:not(:last-child) {
      margin-bottom: 0px; */
}
.photo-card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 120px);
}
.info {
  display: flex;
  padding: 5px 5px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.info-item {
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
}
span {
  font-size: 14px;
}

.is-hidden {
  display: none;
}
.load-more {
  margin-left: 0 auto;
  background-color: transparent;
  margin-top: 15px;
  padding: 10px;
  border-radius: 25px;
  border-color: blue;
  font-size: 20px;
  cursor: pointer;
}
.load-more:hover {
  background-color: blue;
  color: white;
}
